@model IEnumerable<TulipShopping.Models.Notice>

@{
    ViewBag.Title = "Notice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    .cell-breakWord {
        word-wrap: break-word;
        max-width: 1px;
    }
</style>

<article>
    <table>
        <tr>
            <td class="cell-breakWord">
                <div class=" row text-center" dir="rtl">
                    <div class="col-lg-12">
                        <div><h4 class="alert-danger">@ViewBag.Basarisiz</h4></div>

                        @foreach (var item in Model)
                        {
                            <br />
                            <h4 class=" text-center" style="color:red;">@item.Title</h4>
                            <hr class="new1" />
                            <br />
                            <p class="text-center">
                                @Html.Raw(item.Text)
                            </p>
                        }

                    </div>
                    <br />
                </div>
            </td>
        </tr>
    </table>
</article>
